
<% @articles.each do |article| %>

  <h3>
  	<%= article.title %>
  </h3>
  <p>
  	<%= article.text %>
  <br>
  <span style="font-size: 75%; color: 999">
    Added at <%= article.created_at %> by <%= (@users.find(article.user_id)).username %>
  </span>
  </p>
  <p> 
  	<%= link_to 'Show', article_path(article) %> | 
  	<%= link_to 'Edit', edit_article_path(article) %> | 
    <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <hr>


<% end %>