<h3><%= @article.title %></h3>
<p><%= @article.text %></p>

<%= link_to 'Back', articles_path %>

<!-- For resource has assotiation defined use 'form_for([@document, @comment]) do |f|'
@article.comments.build return new object of the collection, but has not been saved -->

<%= form_for ([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>


<% @article.comments.each do |comment| %>

  <b>
  	<%= comment.author %>
  </b>
  <p>
  	<%= comment.body %>
  </p>

  <hr>


<% end %>